In [ ]:
from google.colab import files
uploaded = files.upload()

Saving All-Cricket-World-Cup-Centuries.csv to All-Cricket-World-Cup-Centuries.csv

In [ ]:
# Step 2: Import libraries
import numpy as np
import pandas as pd

In [ ]:
# Step 3: Read the uploaded CSV
import io
df = pd.read_csv(io.BytesIO(uploaded['All-Cricket-World-Cup-Centuries.csv']))

In [ ]:
# Step 4: Clean and prepare data
df['Runs_clean'] = df['Runs'].astype(str).str.replace('*', '', regex=False).astype(int)
df['S/R'] = pd.to_numeric(df['S/R'], errors='coerce')
df['Year'] = pd.to_datetime(df['Date'], dayfirst=True).dt.year

<ipython-input-8-7ac044ae67cc>:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Year'] = pd.to_datetime(df['Date'], dayfirst=True).dt.year

# 1. Total number of centuries

In [ ]:
print("Total Centuries:", len(df))

Total Centuries: 196

# 2. Top 5 players with most centuries

In [ ]:
top_players = df['Player'].value_counts().head(5)
top_players

Player
Sachin Tendulkar    6
Rohit Sharma        6
Ricky Ponting       5
Kumar Sangakkara    5
Mark Waugh          4
Name: count, dtype: int64

# 3. Country with most centuries

In [ ]:
top_teams = df['Team'].value_counts().head(5)
top_teams

Team
India          32
Australia      31
Sri Lanka      25
West Indies    19
England        18
Name: count, dtype: int64

# 4. Number of not-out centuries (marked with )

In [ ]:
not_out_centuries = df['Runs'].astype(str).str.contains('\*').sum()
not_out_centuries

np.int64(64)

# 5. Replace * in 'Runs' and convert to int

In [ ]:
df['Runs_clean'] = df['Runs'].astype(str).str.replace('*', '', regex=False).astype(int)
df['Runs_clean'].head()

0    137
1    171
2    131
3    101
4    114
Name: Runs_clean, dtype: int64

# 6. Highest individual score

In [ ]:
highest_score = df['Runs_clean'].max()
df[df['Runs_clean'] == highest_score]

,No.,Player,Runs,Balls,4s,6s,S/R,Team,Opposition,Venue,Date,Result,Runs_clean,Year
163,164,Martin Guptill,237*,163,24,11,145.39,New Zealand,West Indies,"Westpac Stadium, Wellington",21-Mar-15,Won,237,2015

# 7. Average strike rate

In [ ]:
df['S/R'] = pd.to_numeric(df['S/R'], errors='coerce')
average_sr = df['S/R'].mean()
average_sr

np.float64(104.35790816326531)

# 8. Most sixes in a single century

In [ ]:
most_sixes = df['6s'].max()
df[df['6s'] == most_sixes]

,No.,Player,Runs,Balls,4s,6s,S/R,Team,Opposition,Venue,Date,Result,Runs_clean,Year
176,177,Eoin Morgan,148,71,4,17,208.45,England,Afghanistan,"Old Trafford Cricket Ground, Manchester",18-Jun-19,Won,148,2019

# 9. Average balls faced per century

In [ ]:
average_balls = df['Balls'].mean()
average_balls

np.float64(119.5)

# 10. Number of centuries against India

In [ ]:
vs_india = df[df['Opposition'].str.contains("India")]
vs_india_count = len(vs_india)
vs_india_count

17

# 11. Number of centuries in each World Cup year
python
Copy
Edit

In [ ]:
df['Year'] = pd.to_datetime(df['Date'], dayfirst=True).dt.year
centuries_per_year = df['Year'].value_counts().sort_index()
centuries_per_year

<ipython-input-19-7f2e15dc7083>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Year'] = pd.to_datetime(df['Date'], dayfirst=True).dt.year

Year
1975     6
1979     2
1983     8
1987    11
1992     8
1996    16
1999    11
2003    21
2007    20
2011    24
2015    38
2019    31
Name: count, dtype: int64

# 12. Venue with the most centuries

In [ ]:
top_venue = df['Venue'].value_counts().head(1)
top_venue

Venue
Old Trafford Cricket Ground, Manchester    8
Name: count, dtype: int64

# 13. Centuries that led to a loss

In [ ]:
loss_centuries = df[df['Result'].str.lower() == 'lost']
loss_centuries_count = len(loss_centuries)
loss_centuries_count

40

# 14. Centuries where 10+ boundaries (4s only) were hit

In [ ]:
high_boundary_centuries = df[df['4s'] >= 10]
len(high_boundary_centuries)

132

# 15. Correlation between Runs and Strike Rate

In [ ]:
correlation = df['Runs_clean'].corr(df['S/R'])
correlation

np.float64(0.4033301877988613)